body {
    font-family: Arial, sans-serif;
    background-color: #f6fffd;
    margin: 20px;
    color: #333;
}

h1 {
    color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    color: #555;
}